<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849850277536-fqpd1ut53uvqpdt5eg40hbcdbecelst4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849850277536-fqpd1ut53uvqpdt5eg40hbcdbecelst4</string>
	<key>API_KEY</key>
	<string>AIzaSyDNPEZFLjQO8B9fMUnoBJrEpXxat8ofPkI</string>
	<key>GCM_SENDER_ID</key>
	<string>849850277536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foxbyteEvent</string>
	<key>PROJECT_ID</key>
	<string>foxbyte-event</string>
	<key>STORAGE_BUCKET</key>
	<string>foxbyte-event.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849850277536:ios:d11762931800528fc2f3c5</string>
</dict>
</plist>